.home-container {
  text-align: center;
  padding: 40px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}

.category-box {
  height: 200px;
  border-radius: 16px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.category-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.category-name {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 4px black;
}

.category-box:hover {
  transform: scale(1.05);
}